/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
Sudoku/target
/laskarit/viikko2/JavaApplication9/nbproject/private/
/laskarit/viikko2/HSL/nbproject/private/
/laskarit/viikko2/HSL/build/